{% extends 'base.html' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="row m-4">
                <h1 class="title">Contato</h1>
            </div>
            <br>
            <hr>
            <div class="col-3"></div>
            <div class="row col-6">
                <form method="POST" action="{{ url_for('home') }}" class="border m-3 p-4">
                    {{ form.csrf_token }}
                    <legend>Como podemos ajudar?</legend>
                    <fieldset>
                        <div class="form-group">
                            <p>
                                {{ form.name.label(class="form-control-label") }}
                                <br>
                                {{ form.name(class="form-control bg-light shadow-sm") }}
                            </p>
                            <p>
                                {{ form.email.label(class="form-control-label") }}
                                <br>
                                {{ form.email(class="form-control bg-light shadow-sm") }}
                            </p>
                            <p>
                                {{ form.message.label(class="form-control-label") }}
                                <br>
                                {{ form.message(class="form-control bg-light shadow-sm") }}
                            </p>
                            <a class="nav-link">
                                {{ form.submit(class="btn btn-outline-secondary mt-2 bg-light shadow-sm") }}
                            </a>
                        </div>
                    </fieldset>
                </form>
            <div class="col-3"></div>
            </div>
        </div>
    </div>

{% endblock %}