{% extends 'base.html' %}


{% block body %}

    <div class="container">
        <br>
        <h1>python_tech_dev</h1>
        <hr>
        <br>
        <h6>Comunidade pt-br voltada para a discussão sobre tecnologias relacionadas à linguagem python.</h6>
    </div>
    <div class="container">
          <div class="row bg-light border p-4">
              <div class="col-1 col-sm-8">
                  <h2>Discussões</h2>
                  <p>Level 2: .col-8 .col-sm-6Level 2: .col-8 .col-sm-6Level 2: .col-8 .col-sm-6Level 2: .col-8 .col-sm-6Level</p>
              </div>
              <div class="col-2 col-sm-3">
                  <h2>Posts</h2>
                  <p>Level 2: .col-4 .col-sm-6Level 2: .col-8 .col-sm-6Level 2: .col-8 .col-sm-6Level 2: .col-8 .col-sm-6</p>p>
              </div>
          </div>
    </div>

{% endblock %}