{% extends 'base.html' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="row m-4">
                <h1 class="fbgm">Usuários</h1>
                <br>
            </div>

            <hr class="fbgm">
            {% for usuario in lista_usuarios %}
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="container d-flex justify-content-center">
                        <div class="card">
                            <div class="d-flex align-items-center">
                                <div class="image pe-2">
                                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" class="rounded" width="140">
                                </div>
                            <div class="ml-3 w-100">
                               <h4 class="text_blue_small mb-0 mt-0">{{ usuario.username }}</h4>
                               <span class="text_blue">{{ usuario.email }}</span>
                               <hr class="fbgm">
                               <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                   {% if 'Não Informado' in usuario.habilidades %}
                                        <div class="d-flex flex-column text_blue_small">
                                            <span class="articles">Habilidades</span>
                                            <span class="number1">0</span>
                                        </div>
                                   {% else %}
                                        <div class="d-flex flex-column text_blue_small">
                                            <span class="articles">Habilidades</span>
                                            <span class="number1">{{ usuario.habilidades.count(';') + 1 }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="d-flex flex-column text_blue_small">
                                        <span class="rating">Posts</span>
                                        <span class="number3">{{ usuario.contar_posts() }}</span>
                                    </div>

                               </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 bg-light p-2">
                    <div class="row justify-content-center">
                        <div class="col-4" style="text-align: center">
                            <legend class="text_blue_small">Habilidades</legend>
                            {% for habilidade in usuario.habilidades.split(';') %}
                                <p class="text_blue">{{ habilidade }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="row mt-5">
                    <br>
                    <hr class="fbgm">
                    <br>
                </div>

            {% endfor %}
        </div>
    </div>
    <br>

{% endblock %}