/* PALETA PRINCIPAL */
.bgd{
    background-color: #0066a8
}

.bgm{
    background-color: #2483b9
}

.bgc{
    background-color: #3e96c6
}

.bgg{
    background-color: #565656
}



/* PALETA PRINCIPAL FONTES TITLE */
.title{
    font-size: 26px;
    color: #565656;
}

.fbgd{
    font-size: 26px;
    color: #0066a8
}

.fbgm{
    font-size: 26px;
    color: #2483b9
}

.fbgc{
    font-size: 26px;
    color: #3e96c6
}



/* MEU POST */
.meupost{
    background: #f2f5f8 !important;
    color: #000 !important;
}



/* PALETA PRINCIPAL FONTES TEXT*/
.text_gray{
    font-size: 16px;
    color: #565656;
}

.text_blue{
    font-size: 16px;
    color: #565656;
}

.text_blue_small{
    font-size: 20px;
    color: #2483b9
}

.text_azul{
    font-size: 16px;
    color: #2483b9
}

.text_footer{
    font-size: 14px;
}


/* FOOTER */
.footer-custom {
    height: 80px;
}




/* CARD PÁGINA PERFIL */
.card{
  width: 400px;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}



.stats{

    background: #f2f5f8 !important;
    color: #000 !important;
}
.articles{
  font-size:10px;
  color: #a1aab9;
}
.number1{
  font-weight:500;
}
.followers{
    font-size:10px;
  color: #a1aab9;

}
.number2{
  font-weight:500;
}
.rating{
    font-size:10px;
  color: #a1aab9;
}
.number3{
  font-weight:500;
}